<div class="panel panel-primary">
  <div class="panel-heading">
    Please log in with your Active-Directory Account
  </div>
  <div class="panel-body">
    <form class="form-horizontal" [formGroup]="form.formGroup" novalidate>
      <fieldset>
        <app-form-control [formGroup]="form.formGroup" [validatedControl]="form.getValidatedControl('nameIdentifierControl')">
          <div class="form__contentselector--body">
            <label class="col-md-2 control-label">Login</label>
            <div class="col-md-8">
              <input class="form-control" id="nameIdentifierId" type="text" placeholder="User-Login (required)" formControlName="nameIdentifierControl"
              />
            </div>
          </div>
        </app-form-control>
      </fieldset>
    </form>
  </div>
</div>